extends ../layouts/default
block intro
    .row.blog
        h2.title= data.category ? data.category.name : 'Notícias'
block content
    .row.blog
        .medium-8.columns
            h3.soon.text-center !{locals.info.brevemente}
        .medium-4.columns.categories.hide-for-small-down
            if data.categories.length
                h3 Categorias
                ul
                    li: a(href='/noticias', class=!data.category ? 'active' : false) <strong>Mostrar Todas</strong>
                    each cat in data.categories
                        li: a(href='/noticias/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)= cat.name
                .fb-like-box(data-href="https://www.facebook.com/aegee.madeira", data-colorscheme="light", data-show-faces="true", data-header="true", data-stream="true", data-show-border="false")